# Flutter & Dart Files
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android Specific
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab

# iOS Specific
ios/Pods/
ios/.symlinks/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/DerivedData/
*.ipa

# OS & Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
